<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunfan.exhibition"
    android:versionCode="1"
    android:versionName="1.0" >
    
 	<uses-sdk android:minSdkVersion="3" />
 	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
 	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
 	
     <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar"
        android:name="com.yunfan.exhibition.activity.Application" >
        <activity android:name=".activity.ConsoleActivity" 
            android:screenOrientation="landscape">
          
        </activity>
        <activity android:name="com.yunfan.exhibition.MainActivity"
            android:screenOrientation="landscape">
              <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yunfan.exhibition.activity.CopyOfConsoleActivity" 
            android:screenOrientation="landscape">
          
            
        </activity>
        
        <activity android:name="com.yunfan.exhibition.activity.MainActivity22"
            android:screenOrientation="landscape">
             
        </activity>
        
           <activity android:name="com.yunfan.exhibition.activity.MainActivity23">
             
        </activity>
        
        <receiver android:name="com.yunfan.exhibition.BootReceiver">
  			<intent-filter>
    			<action android:name="android.intent.action.BOOT_COMPLETED"/> 
    			<category android:name="android.intent.category.LAUNCHER" /> 
  			</intent-filter>
 		</receiver>
    </application>

   

</manifest>
